{% extends 'base.html' %}
{% block content %}
<br><br>
    <h3>Личный кабинет</h3>
<br><br>
<p><a class="btn btn-warning" href="{% url 'main_page' %}" style="background-color: rgb(55, 199, 215);">Перейти к покупкам</a></p>
<br>
<div class="row" style="display: flex; align-items: center; justify-content: center;">
    <div class="col">
        <center>
            <div style="padding: 20px 0;">
                <img src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png" alt="" style="width: 300px;">
            </div>
        </center>
    </div>
    <div class="col">
        <div style="background-color: rgb(0, 170, 255); padding: 20px; display: flex; align-items: center; justify-content: center; border-radius: 20px 20px 0 0;">
            <h2 style="color: rgb(255, 255, 255);">
                {% if user.is_staff %}
                    Бизнес партнер Kazdoy
                {% else %}
                    Покупатель Kazdoy
                {% endif %}
            </h2>
        </div>
        <div style="background-color: rgb(255, 255, 255); border: 1px solid rgba(128, 128, 128, 0.148); border-radius: 0 0 20px 20px; padding: 20px;">
                <div class="col">
                    {% if user.is_staff %}
                        <p style="font-size: 23px; color: rgb(0, 0, 0);">Добро пожаловать,<strong> бизнес партнер!</strong></p>
                    {% else %}
                        <p style="font-size: 23px; color: rgb(0, 0, 0);">Добро пожаловать, <strong>{{ user.first_name }}</strong>!</p>
                    {% endif %}
                <p>Статус пользователя:
                    {% if user.is_staff %}
                        <strong>Бизнес партнер</strong>
                    {% else %}
                        <strong>Покупатель</strong> 
                    {% endif %}
                </p>
                    <a class="btn btn-outline-dark" href="/logout">Выйти</a>
                </div>
        </div>
    </div>
</div>
    {% endblock %}