{% extends 'base.html' %}
{% block content %}
<style>
    .card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; 
    }
</style>

    <div class="border-1">
        <br>
        <h1>Список товаров</h1>
        <br>
        <a class="a-search-back" href="{% url 'main_page' %}"><i class='bx bx-left-arrow-alt' ></i> На главную</a>
        <p></p>
        <center>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" style="color: rgba(0, 1, 1, 0.962); font-weight: 700;">КАТЕГОРИЕ</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class='bx bx-menu'></i>
                    </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav m-auto">
                        {% for category in categories %}
                             <li class="nav-item">
                                <a class="nav-link active" id="nav-link" aria-current="page" href="/main_page?category_id={{category.id}}">{{category.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            </nav>
        </center>
        <div class="row">
            {% if user.is_staff %}
            <div class="col-12 mb-4">
                <a href="{% url 'upload_product' %}" class="btn btn-outline-dark" style="color: rgb(0, 200, 255);">Добавить товар</a>
            </div>
            {% endif %}
            <form action="{% url 'search_product' %}" method="get" class="form-inline my-2 my-lg-0" style="display: flex; padding: 30px;">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" style="margin-left: 10px;" type="submit">Найти</button>
            </form>
            {% for product in products %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="card">
                    <br>
                    <center>
                            <img src="{{ product.productimages.first.image.url }}" class="card-img-top" alt="{{ product.name }}" style="width: 200px; height: 200px; object-fit: cover;">
                            <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <br>
                            <p>Стоимость: <strong>{{ product.price }}</strong> KZT</p>
                            <br>
                            <div>
                                <a class="btn btn-dark" href="{% url 'add_to_cart' product.id %}">
                                    <i class='bx bx-cart'></i>
                                </a>
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-dark" style="color: rgb(32, 213, 213);" target="_blank">Подробнее</a>
                                <a href="{% url 'add_to_favorite' product.id %}" class="btn btn-outline-dark">
                                    <i  class='bx bx-like' ></i>
                                </a>
                            </div>
                        <br>
                    </div>
                    </center>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
