{% extends 'base.html' %}
{% block content %}
<h1>Регистрация</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Имя</label>
      <input name="username" type="text" class="form-control" id="username" placeholder="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="password">
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">Confirm password</label>
      <input name="password2" type="password" class="form-control" id="password2" placeholder="confirm password">
    </div>
    {% if message %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endif %}
    <input type="submit" class="btn btn-dark" value="Зарегистрироваться">
</form>
<br>
<h6 style="font-weight: 400; font-size: 20px;">У вас уже есть аккаунт? Войдите <a href="{% url 'login' %}">здесь</a>!</h6>
<br>
{% endblock %}
